@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300&display=swap');
:root {
    --tag-a: #748cab;
}
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box
}

body {
    font-family: 'Poppins', sans-serif;
}

.container {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.logo {
    padding-bottom: 20px;
    margin: 13px;
}

.user-info {
    display: flex;
    flex-direction: column;
    width: 400px;
    border: solid 1px rgba(0, 0, 0, 0.278);
    padding: 20px 26px;
    border-radius: 7px;
    margin-bottom: 20px;
} 

.user-info span{
    font-size: 30px;
    margin-bottom: 12px;
}

.user-info p{
    margin-bottom: 3px;
}

.user-info input {
    width: 350px;
    height: 29px;
    padding: 3px 7px;
    border-radius: 4px;
    margin-bottom: 10px;
    border: solid 1px rgba(0, 0, 0, 0.289);
}

.user-info-password {
    margin-top: 7px;
}

.user-info-password a {
    text-decoration: none;
}

.user-info-password a:hover {
    text-decoration: underline;
    color: var(--tag-a);
}

.find-user {
    display: flex;
    justify-content: center;
    margin-top: 17px;
    width: 350px;
}

.submitInput {
    width: 350px;
    height: 40px !important;
    text-align: center;
    text-decoration: none;
    font-size: 16px;
    background-color: #527693;
    border-radius: 5px;
    color: #fff;
}

.submitInput:hover {
    cursor: pointer;
    background-color: #364f65;
}

.text-new-user {
    margin-bottom: 20px;
    color: rgba(0, 0, 0, 0.7);
}

.new-user {
    display: flex;
    justify-content: center;
    width: 400px;
    background-color: var(--tag-a);
    border-radius: 5px;
}

.new-user a{
    width: 400px;
    text-decoration: none;
    text-align: center;
    color: #fff;
    padding: 8px;
}